.cp-layout-controls {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #2d2d2d;
  border-radius: 4px;

  button {
    &.p-button-highlighted {
      background-color: #4a4a4a;
    }
  }
} 