
.loginform {
  padding:5px;
  overflow: hidden;
  display: grid;
  place-content: center;
  color: white;
  background-color:rgb(22,25,30, 0.1);
  text-shadow: 0 1px 0 #000;
  ::placeholder {
    color: #4ddfc0,

  }

  .inputError {
    border:1px solid red !important;
  }
  
  
  /* --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
      from var(--border-angle),
      transparent 100%,
      black
      ); */
  

  //border-radius: 2em;
  //--gradient-border: conic-gradient(from var(--border-angle), green 25%, #1e4f41, black 99%, transparent);
  

  /* //background: 
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box, 
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box; */
  
  background-position: center center;
}

.login-loading {
  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(
    from var(--border-angle),
    #1e4f41 50%,
    #4ddfc0,
  );
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
